@{
    ViewData["Title"] = "心莱科技";
}
<div id="layerslider" style="height: 500px; margin: 0px auto; width: 100%;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Idea.jpg" class="ls-bg" alt="企业宗旨" />
    </div>
    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Components.jpg" class="ls-bg" alt="Slide background">
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 1500; durationout: 500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 70px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑; durationin: 1500; durationout: 500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 70px;">
            “简单”设计，代码可读性高
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 2500; durationout: 1500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 120px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 2500; durationout: 1500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 120px;">
            持续快速迭代
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 3500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 170px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 3500; durationout: 2500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 170px;">
            完全开源
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff;durationin: 4500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 220px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑;  durationin: 4500; durationout: 3500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 220px;">
            融合主流前沿技术
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 5500; durationout: 4500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 270px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color:#fff; font-family:微软雅黑; durationin: 5500; durationout: 4500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 270px;">
            完善的开发文档
        </span>
        <a class="btn-u btn-u-blue ls-s1" href="#" style="durationin: 6500; durationout: 3500; font-size: 25px; left: 40px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 340px;">
            查看更多特性
        </a>
        @*<img src="/images/Magicodes.WeiChat/1.png" alt="Slider Image" class="ls-s-1" style="durationin: 1500; durationout: 1500; height: 641px; left: 650px; slidedirection: right; slideoutdirection: bottom; top: 30px; width: 355px;">*@
    </div>
    <!--Third Slide-->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92, 93, 105;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Shop.jpg" class="ls-bg" alt="Slide background">
        @*<span class="ls-s-1" style="color: #777; durationin: 1000; durationout: 1000; font-size: 35px; font-weight: 200; left: 50px; line-height: 45px; slidedirection: top; slideoutdirection: bottom; top: 100px;">
                Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
            </span>*@
        <a class="btn-u btn-u-green ls-s-1" href="#" style="durationin: 2000; durationout: 2000; font-size: 25px; left: 850px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 220px;">
            Magicodes.Shop
        </a>
        @*<img src="@ContentRootUrl/unify/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style="durationin: 3000; durationout: 3000; left: 670px; slidedirection: right; slideoutdirection: bottom; top: 30px;">*@
    </div>
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.WeiChat.jpg" class="ls-bg" alt="Magicodes.WeiChat" />
    </div>
    <!--End Third Slide-->
</div><!--/layer_slider-->
<!--/layer_slider-->
<!--=== End Slider ===-->
@*<div class="why_choose_us">
    <div class="container">
        <div class="row">
            <header>
                <h3 style="text-align:center;">为什么选择我们</h3>
            </header>
        </div>
        <div class="col-md-4 whyus">
            <div>
                <span>01</span>
                <p>我们是一家专注于软件开发的公司。</p>
            </div>
        </div>
        <div class="col-md-4 whyus">
            <div>
                <span>02</span>
                <p>技术实力扎实。</p>

            </div>
        </div>
        <div class="col-md-4 whyus">
            <div>
                <span>03</span>
                <p>优质的售后服务，让您更方便的使用本公司产品。</p>

            </div>
        </div>
    </div>
</div>*@
<div class="team">
    <header>
        <h3 style="text-align:center;">我们的团队</h3>
    </header>
    <section class="main">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-1">
                    <div class="ch-info">
                        <h4>李文强</h4>
                        <p><a href="#">产品经理&技术总监</a> </p>
                    </div>
                </div>
                <div class="ch-Mystyle">
                    <p>
                        7年软件开发经验，6年团队管理经验，5年架构师经验，先后担任过项目经理、软件架构师、产品经理、CTO等职务。有大型服务器架构和软件架构经验，熟悉OA、CRM、移动开发等主流软件或开发设计。在职期间，先后主导了汽配通交易平台、自然美加盟店管理系统、联通我爱K歌管理后台、江西移动综合管理平台）、浦发卡中心内部IT系统、富登协同办公系统、临床试验平台等大中型项目。
                    </p>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-2">
                    <div class="ch-info">
                        <h4>王滨</h4>
                        <p><a href="#">架构师</a></p>
                    </div>
                </div>
                <div  class="ch-Mystyle">
                    <p>
                        毕业于浙江树人大学，微软SharePoint MVP，博客园知名博主。五年开发经验，三年系统架构师经验，擅长.NET、SharePoint、Java、Javascript、Unity3D等主流技术,先后主导和参与了杭州下城区科技局信息化平台、临床试验管理平台系统、成都富登办公平台系统、上海邮政物流 OA 系统 、本田可视化报表系统、临床试验微信平台助手等项目的研发和架构搭建。
                    </p>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-3">
                    <div class="ch-info">
                        <h4>肖宇萌</h4>
                        <p><a href="#">项目总监</a></p>
                    </div>
                </div>
                <div class="ch-Mystyle">
                    <p>
                        毕业于华中科技大学计算机软件学院，5年研发经验，3年项目管理经验，精通JAVA、.NET编程语言，熟练掌握Web前端比较热门的技术。对项目需求理解分析能力较强，有一定团队管理能力，能够合理安排、协调团队成员任务及项目进度，严格保证项目质量与进度。2012年参与教育部“全国高校本科教学工作评估管理信息系统”项目的需求分析与研发工作，后期数据分析统计、报表展示。

                    </p>
                </div>
            </li>
        </ul>
    </section>
    <section class="main">

        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-4">
                    <div class="ch-info">
                        <h4>刘浩</h4>
                        <p><a href="#">DBA</a></p>
                    </div>
                </div>
                <div class="ch-Mystyle">
                    <p>
                        7年软件开发经验，3年系统架构经验。常年从事B/S方向的开发与项目架构工作，从核心代码编写到系统架构构建，技术全面，熟悉分析、设计、编码、测试、构建、实施、维护等各阶段工作，具有完整的软件开发周期经验。
                        &nbsp;<br />
                    </p>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-5">
                    <div class="ch-info">
                        <h4>周鹏</h4>
                        <p><a href="#">运维经理</a></p>
                    </div>
                </div>
                <div class="ch-Mystyle">
                    <p>
                        5年研发经验，4年IT运维经验，2年项目管理经验，多家三甲级医院驻场运维经验。熟练使用C#、JavaScript、Html进行CS/BS项目的开发、维护，熟悉DB2、SQL Server、Oracle数据库的维护、脚本的编写。在职期间荣获年度优秀运维经理。
                    </p>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-6">
                    <div class="ch-info">
                        <h4>朱运虹</h4>
                        <p><a href="#">测试经理</a></p>
                    </div>
                </div>
                <div class="ch-Mystyle">
                    <p>
                        美女开发工程师，3年软件开发经验，2年测试经验。
                        对开发充满热情，对测试始终保持严谨态度。“对待程序我是认真的，我是一名程序媛，我为自己代言”。
                        &nbsp;<br/>
                        &nbsp;<br />
                        &nbsp;<br />
                    </p>
                </div>
            </li>
        </ul>
    </section>
</div>
<div class="team">
    <div class="container">
        <div class="row">
            <header>
                <h3 style="text-align:center;">联系我们</h3>
            </header>
        </div>
        <div>
            <div>
                <p style="text-align:center; font-size:20px;">地址：湖南长沙市高新开发区尖山路39号长沙中电软件园10号楼</p>
                <p style="text-align:center; font-size:20px;">微信: 心莱科技 （搜索关注）</p>
                <p style="text-align:center; font-size:20px;"> Email: <a href="mailto:xinlai@xin-lai.com" class="">xinlai@xin-lai.com</a></p>
                <p style="text-align:center; font-size:20px;margin-top:50px;color:blue;">扫一扫，关注我们</p>
                <p style="text-align:center; font-size:20px;"><img src="@ContentRootUrl/images/Magicodes.WeiChat/二维码.jpg" alt="扫一扫，关注我们" /> </p>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $('ul.nav>li:eq(2)').addClass('active');
        });
    </script>
}