@{
    ViewData["Title"] = "心莱科技";
}
<div id="layerslider" style="height: 500px; margin: 0px auto; width: 100%;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Idea.jpg" class="ls-bg" alt="企业宗旨" />
    </div>
    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Components.jpg" class="ls-bg" alt="Slide background">
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 1500; durationout: 500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 70px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑; durationin: 1500; durationout: 500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 70px;">
            “简单”设计，代码可读性高
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 2500; durationout: 1500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 120px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 2500; durationout: 1500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 120px;">
            持续快速迭代
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 3500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 170px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 3500; durationout: 2500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 170px;">
            完全开源
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff;durationin: 4500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 220px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑;  durationin: 4500; durationout: 3500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 220px;">
            融合主流前沿技术
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 5500; durationout: 4500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 270px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color:#fff; font-family:微软雅黑; durationin: 5500; durationout: 4500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 270px;">
            完善的开发文档
        </span>
        <a class="btn-u btn-u-blue ls-s1" href="#" style="durationin: 6500; durationout: 3500; font-size: 25px; left: 40px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 340px;">
            查看更多特性
        </a>
        @*<img src="/images/Magicodes.WeiChat/1.png" alt="Slider Image" class="ls-s-1" style="durationin: 1500; durationout: 1500; height: 641px; left: 650px; slidedirection: right; slideoutdirection: bottom; top: 30px; width: 355px;">*@
    </div>
    <!--Third Slide-->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92, 93, 105;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Shop.jpg" class="ls-bg" alt="Slide background">
        @*<span class="ls-s-1" style="color: #777; durationin: 1000; durationout: 1000; font-size: 35px; font-weight: 200; left: 50px; line-height: 45px; slidedirection: top; slideoutdirection: bottom; top: 100px;">
                Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
            </span>*@
        <a class="btn-u btn-u-green ls-s-1" href="#" style="durationin: 2000; durationout: 2000; font-size: 25px; left: 850px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 220px;">
            Magicodes.Shop
        </a>
        @*<img src="@ContentRootUrl/unify/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style="durationin: 3000; durationout: 3000; left: 670px; slidedirection: right; slideoutdirection: bottom; top: 30px;">*@
    </div>
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.WeiChat.jpg" class="ls-bg" alt="Magicodes.WeiChat" />
    </div>
    <!--End Third Slide-->
</div>
<div class="gallery">
    <div class="container">
        <div>
            <h2 class="heading text-center">Magicodes.Shop产品资料图</h2>
        </div>
        <div>
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/1.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/2.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/3.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/4.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/5.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/6.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/7.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/8.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/9.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/10.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/11.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/12.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/13.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/14.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/15.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/16.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/17.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/18.png" alt="" />
            <img class="example-image" src="@ContentRootUrl/images/Product/WeiChat/19.png" alt="" />
        </div>
    </div>
</div>