@{
    ViewData["Title"] = "心莱科技";
}
<!--=== Slider ===-->
<div id="layerslider" style="height: 500px; margin: 0px auto; width: 100%;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Idea.jpg" class="ls-bg" alt="企业宗旨" />
    </div>
    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.WeiChat.jpg" class="ls-bg" alt="Magicodes.WeiChat">
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 1500; durationout: 500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 70px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑; durationin: 1500; durationout: 500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 70px;">
            “简单”设计，代码可读性高
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 2500; durationout: 1500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 120px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 2500; durationout: 1500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 120px;">
            持续快速迭代
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 3500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 170px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 3500; durationout: 2500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 170px;">
            完全开源
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff;durationin: 4500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 220px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑;  durationin: 4500; durationout: 3500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 220px;">
            融合主流前沿技术
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 5500; durationout: 4500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 270px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color:#fff; font-family:微软雅黑; durationin: 5500; durationout: 4500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 270px;">
            完善的开发文档
        </span>
        <a class="btn-u btn-u-blue ls-s1" href="#" style="durationin: 6500; durationout: 3500; font-size: 25px; left: 40px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 340px;">
            查看更多特性
        </a>
        @*<img src="/images/Magicodes.WeiChat/1.png" alt="Slider Image" class="ls-s-1" style="durationin: 1500; durationout: 1500; height: 641px; left: 650px; slidedirection: right; slideoutdirection: bottom; top: 30px; width: 355px;">*@
    </div>
    <!--Third Slide-->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92, 93, 105;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Shop.jpg" class="ls-bg" alt="Slide background">
        @*<span class="ls-s-1" style="color: #777; durationin: 1000; durationout: 1000; font-size: 35px; font-weight: 200; left: 50px; line-height: 45px; slidedirection: top; slideoutdirection: bottom; top: 100px;">
                Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
            </span>*@
        <a class="btn-u btn-u-green ls-s-1" href="#" style="durationin: 2000; durationout: 2000; font-size: 25px; left: 850px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 220px;">
            Magicodes.Shop
        </a>
        @*<img src="@ContentRootUrl/unify/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style="durationin: 3000; durationout: 3000; left: 670px; slidedirection: right; slideoutdirection: bottom; top: 30px;">*@
    </div>
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Components.jpg" class="ls-bg" alt="Magicodes.Components" />
    </div>
    <!--End Third Slide-->
</div><!--/layer_slider-->
<!--=== End Slider ===-->
<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated fadeInLeft">
                <span>官方介绍</span>
                <p>
                    湖南心莱信息科技有限公司是由一群从北上广回归的精英携手创建的一家专注软件开发的公司，公司成员基本上都有从事软件开发5年以上的工作经验，并且均领导实施过中大型软件项目。公司以“踏实，直率相处，乐于助人；对技术满怀热情；致力于帮助客户带来价值”为核心价值，希望通过专业水平和不懈努力，为中小企业提供优质的软件服务，为中小软件公司提供优质的软件技术服务。
                </p>
                <p>
                    为了帮助中小软件公司快速开发和定制微信公众号，公司精心打造了两款产品——Magicodes.WeiChat和Magicodes.Shop，分别为微信快速定制开发框架和微信商城框架。其中，Magicodes.WeiChat已经拥有了100+正式用户和10+合作伙伴，并且广受好评。 Magicodes.Shop是产品团队在Magicodes.WeiChat基础上，应广大合作伙伴要求，针对微商城这块业务进行封装和提炼，精心打造的微商城产品。
                </p>
                <p>
                    公司不仅仅提供专业的软件开发服务,同时还建立了完善的售后服务体系,为企业发展中遇到的问题和困难提供指导帮助。我们相信,通过我们的不断努力和追求,一定能够实现与中小企业的互利共赢，帮助中小企业带来价值！
                </p>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container content">
    <div class="margin-bottom-10"></div>
    @Html.Partial("~/wwwroot/PlugIns/Magicodes.Home/Views/Shared/_Partner_Logolist.cshtml")
</div><!--/container-->
@section Scripts
{
    <script>
        $(function () {
            $('ul.nav>li:eq(0)').addClass('active');
        });
    </script>
}