<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" >
  <targets>

    <!--<target xsi:type="Mail"
            name="String"
            header="Layout"
            footer="Layout"
            layout="Layout"
            html="Boolean"
            addNewLines="Boolean"
            replaceNewlineWithBrTagInHtml="Boolean"
            encoding="Encoding"
            subject="Layout"
            to="Layout"
            bcc="Layout"
            cc="Layout"
            from="Layout"
            body="Layout"
            smtpUserName="Layout"
            enableSsl="Boolean"
            secureSocketOption="None|Auto|SslOnConnect|StartTls|StartTlsWhenAvailable"
            smtpPassword="Layout"
            smtpAuthentication="Enum"
            smtpServer="Layout"
            smtpPort="Integer"
            useSystemNetMailSettings="Boolean"
            deliveryMethod="Enum"
            pickupDirectoryLocation="String"
            timeout="Integer"
            skipCertificateValidation="Boolean"
    />-->
    <target xsi:type="File" name="traceF" fileName="${basedir}/App_Data/logs/Trace/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="infoF" fileName="${basedir}/App_Data/logs/Info/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="debugF" fileName="${basedir}/App_Data/logs/Debug/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="warnF" fileName="${basedir}/App_Data/logs/Warn/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="errorF" fileName="${basedir}/App_Data/logs/${shortdate}.log"
            layout="---------------------------------------${logger}    ${time} --------------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="Mail"
            name="mailTarget"
            body="---------------------------------------${logger}    ${time} --------------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}"
            html="true"
            replaceNewlineWithBrTagInHtml="true"
            encoding="utf-8"
            subject="异常日志"
            to="512982554@qq.com"
            from="notify@mail.xin-lai.cn"
            smtpUserName="notify@mail.xin-lai.cn"
            enableSsl="true"
            addNewLines="true"
            smtpPassword="NOTIFY123456abcD"
            smtpAuthentication="Basic"
            smtpServer="smtpdm.aliyun.com"
            smtpPort="465"
    />
  </targets>
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  <rules>
    <logger name="*" minlevel="Error" writeTo="mailTarget" />
    <logger name="*" levels="Error" writeTo="errorF" />
    <logger name="*" levels="Warn" writeTo="warnF" />
    <logger name="*" levels="Debug" writeTo="debugF" />
    <logger name="*" levels="Info" writeTo="infoF" />
    <logger name="*" levels="Trace" writeTo="traceF" />
  </rules>
</nlog>