@charset "UTF-8";
$font-path: "../assets/font" !default;
$font-family: "Ionicons" !default;
$version: "1.0.1" !default;

@font-face {
 font-family: "#{$font-family}";
 src:url("#{$font-path}/iconfont.woff?v=#{$version}") format("woff"),
  url("#{$font-path}/iconfont.ttf?v=#{$version}") format("truetype"),
  url("#{$font-path}/iconfont.svg?v=#{$version}") format("svg");
 font-weight: normal;
 font-style: normal;
}

.ion,.icon {
  font-family: "#{$font-family}";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  // .ion-ios-#{$arg}-circle:before ,
  // .ion-ios-#{$arg}-circle-outline:before ,
  // .ion-ios-#{$arg}-outline:before ,
  // .ion-md-#{$arg}:before ,
  // .ion-md-#{$arg}-circle:before ,
  // .ion-md-#{$arg}-circle-outline:before ,
  // .ion-md-#{$arg}-outline:before
   {
    content: $val;
    @extend .ion;
  }
}
@mixin makeOutlineIcon($arg, $val) {
  // .ion-ios-#{$arg}:before ,
  // .ion-ios-#{$arg}-circle:before ,
  // .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  // .ion-md-#{$arg}:before ,
  // .ion-md-#{$arg}-circle:before ,
  // .ion-md-#{$arg}-circle-outline:before ,
  // .ion-md-#{$arg}-outline:before
  {
    content: $val;
    @extend .ion;
  }
}
@include makeIcon(home,"\e619");
@include makeOutlineIcon(home,"\e62c");
@include makeIcon(user,"\e617");
@include makeOutlineIcon(user,"\e616");

@include makeIcon(signup,"\e60b");
@include makeIcon(voice,"\e62b");
@include makeIcon(menu,"\e62a");
@include makeIcon(news,"\e629");
@include makeIcon(edit,"\e628");
@include makeIcon(arrow-back,"\e627");
@include makeIcon(arrow-right,"\e612");
@include makeIcon(arrow-down,"\e611");
@include makeIcon(arrow-up,"\e610");
@include makeIcon(arrow-left-line,"\e615");
@include makeIcon(angle-up,"\e614");
@include makeIcon(angle-down,"\e613");
@include makeIcon(right,"\e626");
@include makeIcon(close,"\e622");
@include makeIcon(search,"\e621");
@include makeIcon(zhifubao,"\e62f");
@include makeIcon(weixin,"\e630");