$text-color:#333;
$toolbar-ios-background:#59aff9;
$toolbar-ios-title-font-weight: 400;
$tabs-ios-border:none;
$tabs-tab-color-inactive:$text-color;
$tabs-background:#fff;
$background-color:#f2f5f7;
$list-background-color:#fff;
$list-ios-margin-bottom:10px;

$loading-ios-background:transparent;
$loading-ios-spinner-color:#59aff9;
$toolbar-active-color:$text-color;
$segment-button-ios-border-width:0;
// $segment-button-ios-background-color-activated:transparent;