@using Magicodes.Plus.Core.ViewModels.Common.Modals
@model IModalHeaderViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>@Html.Raw(Model.Title)</span>
    </h4>
</div>