page-login {
    .scroll-content{
        overflow-y: hidden;
    }
    .login{
        padding-top: 5%;
        margin-bottom: 5rem;
        ion-label[fixed]{
            min-width: 5rem;
            width: 5rem;
            flex: 0 0 5rem;
        }     
    }
    .login-input{
        background-color: #ddd;
        height: 45px;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 16px;
    }
    .login-btn{
        background-color:#faa64b;
        height: 45px;
        margin-top: 0px;
        max-width: 100%;
        min-width: 100%;
    }
}
