html{
    font-size:10px;
  }
  @media only screen and (min-width: 318px) and (max-width: 352px) {
    html {
      font-size: 9px;
    }
  }
  
  @media only screen and (min-width: 352px) and (max-width: 384px) {
    html {
      font-size: 10px;
    }
  }
  
  @media only screen and (min-width: 384px) and (max-width: 416px) {
    html {
      font-size: 11px;
    }
  }
  
  @media only screen and (min-width: 416px) and (max-width: 448px) {
    html {
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 448px) and (max-width: 480px) {
    html {
      font-size: 13px;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 512px) {
    html {
      font-size: 14px;
    }
  }