@import "./color";


.opacity{
    background-color: transparent !important;
}

.content{
    &[white]{
        background-color: #fff;
    }
}
ion-icon{
    display: flex;
    align-items: center;
}


.bar-button-default{
    .icon{
        font-size: 2.4rem;
    }
}
.list[no-border]{
    &>.item-block {
        align-items: center;
        &:last-child,.item-inner{
            border-bottom:none;
            border-top:none;
        }
        &:first-child{
            border-top: none
        }
    }
} 

.list[first-no-border]{
    &>.item-block {
        align-items: center;
        border-bottom: 0.55px solid #c8c7cc;
        .item-inner{
            border-bottom:none;
            border-top:none;
        }
        &:first-child{
            border-top: none;
            border-top: 0.55px solid #c8c7cc;
        }
    }
} 
.header-ios{
    .toolbar-ios:last-child{
        .toolbar-background-ios{
            border-bottom: none;
        }
    } 
} 
.alert-ios{
    .alert-button{
        &:first-child{
            color: #333;
        }
        &:last-child{
            font-weight: normal;
        }
    }
    &.dialog-radio{
        .alert-radio-group{
            border-top:none;
        }
    }
} 
.text-center{
    text-align: center;
}
.loading{
    .spinner-dots svg {
        animation: spinner-dots 1s linear infinite;
      }
}
  
  @keyframes spinner-dots {
    0% { opacity: .9; transform: scale(1.8, 1.8);}
    50% { opacity: .3; transform: scale(.6, .6); }
    100% { opacity: .9; transform: scale(1.8, 1.8); }
  }
.segment{
    .segment-button{
        width: auto;
        overflow: visible;
        &:hover:not(.segment-activated){
            background-color: transparent;
        }
    }
}
