@using System.Threading.Tasks
@using Magicodes.Admin.Web.Areas.Admin.Startup
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.Index;
    Layout = "~/Areas/Admin/Views/Layout/_IframeLayout.cshtml";
}
@section Styles
{
    <environment names="Development">
        <link href="~/view-resources/Areas/Admin/Views/Home/index.css" asp-append-version="true" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/view-resources/Areas/Admin/Views/Home/index.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/Admin/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/Admin/Views/Home/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="col-lg-12" style="padding:0 0 0 0;margin-top: -10px;">
    <div id="tab-container">
        <mc-tab v-bind:tabs="tabs"></mc-tab>
    </div>
</div>
