@{
    ViewData["Title"] = "心莱科技";
    //ViewData["ContentRootUrl"] = "/PlugIns/Magicodes.Home/wwwroot";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewData["Title"]</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="心莱,湖南心莱,心莱科技,湖南心莱信息科技有限公司" />
    <meta name="description" content="湖南心莱信息科技有限公司是由一群从北上广回归的精英携手创建的一家专注软件开发的公司，公司成员基本上都有从事软件开发5年以上的工作经验，并且均领导实施过中大型软件项目。公司以“踏实，直率相处，乐于助人；对技术满怀热情；致力于帮助客户带来价值”为核心价值，希望通过专业水平和不懈努力，为中小企业提供优质的软件服务，为中小软件公司提供优质的软件技术服务">
    <meta name="author" content="湖南心莱信息科技有限公司">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    @*<link asp-append-version="true" rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>*@
    <!-- CSS Global Compulsory -->
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/bootstrap/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/style.css">
    <!-- CSS Header and Footer -->
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/headers/header-default.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/footers/footer-v1.css">
    <!-- CSS Implementing Plugins -->
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/animate.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/line-icons/line-icons.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/font-awesome/css/font-awesome.min.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/plugins/layer-slider/layerslider/css/layerslider.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/pages/page_pricing.css">
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/pages/pricing/pricing_v7.css">
    <!-- CSS Customization -->
    <link asp-append-version="true" rel="stylesheet" href="@ContentRootUrl/unify/css/custom.css">
    <link href="@ContentRootUrl/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        @Html.Partial(SharedViewPathUrl + "/_Header.cshtml")
        @RenderBody()
        <!-- End Content Part -->
        @Html.Partial(SharedViewPathUrl + "/_Footer.cshtml")
    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/back-to-top.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/smoothScroll.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/owl-carousel/owl-carousel/owl.carousel.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/layer-slider/layerslider/js/greensock.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/layer-slider/layerslider/js/layerslider.transitions.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js" asp-append-version="true"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@ContentRootUrl/unify/js/custom.js" asp-append-version="true"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@ContentRootUrl/unify/js/app.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/js/plugins/layer-slider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/js/plugins/owl-carousel.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@ContentRootUrl/unify/js/plugins/owl-recent-works.js" asp-append-version="true"></script>
    <script type="text/javascript">
        jQuery(document)
            .ready(function () {
                App.init();
                LayerSlider.initLayerSlider();
                OwlCarousel.initOwlCarousel();
                OwlRecentWorks.initOwlRecentWorksV2();
                $('#price_shop ul').each(function (i, v) {
                    var setBg = false;
                    $(v).find('li').each(function (j, v1) {
                        $(v1).removeClass('bg-color').removeClass('no-borders').addClass(setBg ? 'no-borders' : 'bg-color');
                        setBg = !setBg;
                    });
                });
            });
    </script>

    <!--[if lt IE 9]>
        <script src="@ContentRootUrl/unify/plugins/respond.js" asp-append-version="true"></script>
        <script src="@ContentRootUrl/unify/plugins/html5shiv.js" asp-append-version="true"></script>
        <script src="@ContentRootUrl/unify/plugins/placeholder-IE-fixes.js" asp-append-version="true"></script>
    <![endif]-->
    @if (IsSectionDefined("Scripts"))
    {
        RenderSection("Scripts");
    }
</body>
</html>