<div class="row margin-bottom-40">
    <div class="col-md-4 col-sm-6">
        <div class="pricing hover-effect">
            <div class="pricing-head">
                <h3>个人基础版 <span></span></h3>
                <h4><i>￥</i>880<span>永久授权</span></h4>
            </div>
            <ul class="pricing-content list-unstyled">
                <li><i class="fa fa-gift"></i> 个人授权</li>
                <li><i class="fa fa-gift"></i> 完整源代码</li>
                <li><i class="fa fa-globe"></i> 免费升级</li>
                <li><i class="fa fa-inbox"></i> 5*8产品问题咨询<span></span></li>
            </ul>
            <div class="pricing-footer">
                <a class="btn-u" href="https://item.taobao.com/item.htm?id=520205558575" target="_blank"><i class="fa fa-shopping-cart"></i> 立即购买</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="pricing hover-effect">
            <div class="pricing-head">
                <h3>个人商业版 <span></span></h3>
                <h4><i>￥</i>1280<span>永久授权</span></h4>
            </div>
            <ul class="pricing-content list-unstyled">
                <li><i class="fa fa-gift"></i> 个人授权</li>
                <li><i class="fa fa-gift"></i> 完整源代码</li>
                <li><i class="fa fa-globe"></i> 免费升级</li>
                <li><i class="fa fa-inbox"></i> 7*24问题咨询<span></span></li>
                <li><i class="fa fa-cloud-upload"></i> 升级指导</li>
                <li><i class="fa fa-phone"></i> 电话支持</li>
                <li><i class="fa fa-umbrella"></i> 远程桌面支持</li>
            </ul>
            <div class="pricing-footer">
                <a class="btn-u" href="https://item.taobao.com/item.htm?id=520205558575" target="_blank"><i class="fa fa-shopping-cart"></i> 立即购买</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="pricing hover-effect">
            <div class="pricing-head">
                <h3>企业版 <span> </span></h3>
                <h4><i>￥</i>3280<span>永久授权</span></h4>
            </div>
            <ul class="pricing-content list-unstyled">
                <li><i class="fa fa-gift"></i> 企业授权</li>
                <li><i class="fa fa-gift"></i> 完整源代码</li>
                <li><i class="fa fa-globe"></i> 免费升级</li>
                <li><i class="fa fa-inbox"></i> 7*24问题咨询<span></span></li>
                <li><i class="fa fa-cloud-upload"></i> 升级指导</li>
                <li><i class="fa fa-phone"></i> 电话支持</li>
                <li><i class="fa fa-umbrella"></i> 远程桌面支持</li>
            </ul>
            <div class="pricing-footer">
                <a class="btn-u" href="https://item.taobao.com/item.htm?id=520205558575" target="_blank"><i class="fa fa-shopping-cart"></i> 立即购买</a>

            </div>
        </div>
    </div>
</div><!--/row-->