<div class="row" id="price_shop">
    <div class="margin-bottom-30"></div>

    <div class="heading heading-v1 margin-bottom-50">
        <h2>Magicodes.Shop定价</h2>
        <p></p>
    </div>

    <!-- Pricing Mega v3 -->
    <div class="row no-space-pricing pricing-mega-v3">
        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs ">
            <div class="pricing hidden-area">
                <div class="pricing-head ">
                    <h4 class="price">产品授权/价格</h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li class="bg-color">
                        <i class="fa fa-copyright"></i>Magicodes.Shop授权
                    </li>
                    <li>
                        <i class="fa fa-refresh"></i>版本升级期限
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-briefcase"></i>授权方式
                    </li>
                </ul>
                <h5>产品包含</h5>
                <ul class="pricing-content list-unstyled" style="margin-top:-6px;">
                    <li class="bg-color">
                        <i class="fa fa-code"></i>全部源码
                    </li>
                    <li class="no-borders">
                        <i class="fa fa-file-word-o"></i>产品说明文档
                    </li>
                    <li class="no-borders">
                        <i class="fa fa-file-word-o"></i>开发手册
                    </li>
                    <li class="no-borders">
                        <i class="fa fa-file-word-o"></i>使用手册
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-wordpress"></i>Magicodes.WeiChat完整框架
                    </li>
                    <li>
                        <i class="fa fa-weixin"></i>微信UI框架
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-home"></i>后台主题框架
                    </li>
                </ul>
                <h5>售后支持</h5>
                <ul class="pricing-content list-unstyled">
                   
                    <li class="bg-color">
                        <i class="fa fa-wrench"></i>产品使用咨询
                    </li>
                    <li>
                        <i class="fa fa-cogs"></i>二次开发咨询
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-gavel"></i>性能优化咨询
                    </li>
                    <li>
                        <i class="fa fa-hand-o-left"></i>服务器架构咨询
                    </li>
                    <li>
                        <i class="fa fa-random"></i>技术服务时间
                    </li>
                    <li>
                        <i class="fa fa-refresh"></i>技术服务期限
                    </li>
                    <li>
                        <i class="fa fa-bug"></i>Bug响应
                    </li>
                    <li>
                        <i class="fa fa-mail-forward"></i>邮件支持
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-phone"></i>电话支持
                    </li>
                    <li>
                        <i class="fa fa-sign-in"></i>远程桌面协助
                    </li>
                    <li>
                        <i class="fa fa-suitcase"></i>远程安装部署
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        个人基础版
                    </h3>
                    <h4 class="price">
                        <i>￥</i>4<i>k</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        个人
                        <span class="hidden-md hidden-lg"> Credit Card Requirement</span>
                     </li>
                    <li>
                        一年<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>         
                    <li>
                        仅供学习，不得使用于商业<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                </ul>
                <a href="http://shop.xin-lai.com" class="btn btn-u btn-block" target="_blank">在线演示</a>
                <h5>General</h5>
                <ul class="pricing-content list-unstyled " style="margin-top:37px;">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                    <i class="fa fa-check"></i>
                      <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                </ul>
                <h5>Support</h5>
                <ul class="pricing-content list-unstyled " >
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Premium DNS</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li>
                        记录<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <a  class="btn-u btn-block dropdown-toggle" href="http://shop113059108.taobao.com">
                        <i class="fa fa-shopping-cart"></i>
                        购买
                    </a> 
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        个人商业版 
                    </h3>
                    <h4 class="price">
                        <i>￥</i>10<i>k</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        个人<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        三年<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        个人商业授权<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                </ul>
                <a href="http://shop.xin-lai.com" class="btn btn-u btn-block" target="_blank">在线演示</a>
                <h5>General</h5>
                <ul class="pricing-content list-unstyled " style="margin-top:37px;">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                </ul>
                <h5>Support</h5>
                <ul class="pricing-content list-unstyled ">
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li>
                        5*8<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li>
                        记录并优先处理<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                    <li>
                        10次<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        3次<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    
                </ul>
                <div class="btn-group btn-group-justified">
                    <a class="btn-u btn-block dropdown-toggle" href="http://shop113059108.taobao.com">
                        <i class="fa fa-shopping-cart"></i>
                        购买
                    </a> 
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        企业基础版                       
                    </h3>
                    <h4 class="price">
                        <i>￥</i>20<i>k</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        企业<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        三年<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        企业商业授权<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                </ul>
                <a href="http://shop.xin-lai.com" class="btn btn-u btn-block" target="_blank">在线演示</a>
                <h5>General</h5>
                <ul class="pricing-content list-unstyled " style="margin-top:37px;">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                </ul>
                <h5>Support</h5>
                <ul class="pricing-content list-unstyled " >
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li>
                        7*8<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li>
                        记录并优先处理<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li>
                        20次<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li>
                        3次<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <a class="btn-u btn-block dropdown-toggle" href="http://shop113059108.taobao.com">
                        <i class="fa fa-shopping-cart"></i>
                        购买
                    </a> 
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        企业商业版
                    </h3>
                    <h4 class="price">
                        <i>￥</i>35<i>k</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li class="bg-color">
                        企业<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        三年<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        企业商业授权<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                </ul>
                <a href="http://shop.xin-lai.com" class="btn btn-u btn-block" target="_blank">在线演示</a>
                <h5>General</h5>
                <ul class="pricing-content list-unstyled " style="margin-top:37px;">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                </ul>
                <h5>Support</h5>
                <ul class="pricing-content list-unstyled" >
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        7*24<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li class="bg-color">
                        记录并优先处理<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        不限次数<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li class="bg-color">
                        5次<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <a class="btn-u btn-block dropdown-toggle" href="http://shop113059108.taobao.com">
                        <i class="fa fa-shopping-cart"></i>
                        购买
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Mega v3 -->
</div>