<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" >
  <targets>

    <!--<target xsi:type="Mail"
            name="String"
            header="Layout"
            footer="Layout"
            layout="Layout"
            html="Boolean"
            addNewLines="Boolean"
            replaceNewlineWithBrTagInHtml="Boolean"
            encoding="Encoding"
            subject="Layout"
            to="Layout"
            bcc="Layout"
            cc="Layout"
            from="Layout"
            body="Layout"
            smtpUserName="Layout"
            enableSsl="Boolean"
            secureSocketOption="None|Auto|SslOnConnect|StartTls|StartTlsWhenAvailable"
            smtpPassword="Layout"
            smtpAuthentication="Enum"
            smtpServer="Layout"
            smtpPort="Integer"
            useSystemNetMailSettings="Boolean"
            deliveryMethod="Enum"
            pickupDirectoryLocation="String"
            timeout="Integer"
            skipCertificateValidation="Boolean"
    />-->
    <target xsi:type="File" name="traceF" fileName="${basedir}/App_Data/logs/Trace/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="infoF" fileName="${basedir}/App_Data/logs/Info/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="debugF" fileName="${basedir}/App_Data/logs/Debug/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="warnF" fileName="${basedir}/App_Data/logs/Warn/${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="errorF" fileName="${basedir}/App_Data/logs/${shortdate}.log"
            layout="---------------------------------------${logger}    ${time} --------------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="WebService"
            name="wsLog"
            url="https://webhooks.xin-lai.com/DevelopLog/08231710-365D-4E7D-8C66-CA4417E47450"
            protocol="JsonPost"
            encoding="UTF-8" >
      <parameter name="Project" type="System.String" layout="Magicodes.Admin.Core"/>
      <parameter name="Branch" type="System.String" layout="Develop"/>
      <parameter name="Level" type="System.String" layout="${level}"/>
      <parameter name="Time" type="System.String" layout="${time}"/>
      <parameter name="Message" type="System.String" layout="${message}"/>
      <parameter name="Detail" type="System.String" layout="${onexception:inner=${newline}${exception:format=tostring}}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="wsLog" />
    <logger name="*" levels="Error" writeTo="errorF" />
    <logger name="*" levels="Warn" writeTo="warnF" />
    <logger name="*" levels="Debug" writeTo="debugF" />
    <logger name="*" levels="Info" writeTo="infoF" />
    <logger name="*" levels="Trace" writeTo="traceF" />
  </rules>
</nlog>