@{
    ViewData["Title"] = "心莱科技";
}
<div id="layerslider" style="height: 500px; margin: 0px auto; width: 100%;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Idea.jpg" class="ls-bg" alt="企业宗旨" />
    </div>
    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Components.jpg" class="ls-bg" alt="Slide background">
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 1500; durationout: 500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 70px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑; durationin: 1500; durationout: 500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 70px;">
            “简单”设计，代码可读性高
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 2500; durationout: 1500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 120px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 2500; durationout: 1500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 120px;">
            持续快速迭代
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 3500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 170px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff; font-family:微软雅黑;durationin: 3500; durationout: 2500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 170px;">
            完全开源
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff;durationin: 4500; durationout: 3500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 220px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color: #fff;font-family:微软雅黑;  durationin: 4500; durationout: 3500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 220px;">
            融合主流前沿技术
        </span>
        <i class="fa fa-chevron-circle-right ls-s-1" style="color: #fff; durationin: 5500; durationout: 4500; font-size: 24px; left: 40px; slidedirection: left; slideoutdirection: top; top: 270px;"></i>
        <span class="btn-u btn-u-blue ls-s1" style="color:#fff; font-family:微软雅黑; durationin: 5500; durationout: 4500; font-size: 22px; font-weight: 200; left: 70px; slidedirection: top; slideoutdirection: bottom; top: 270px;">
            完善的开发文档
        </span>
        <a class="btn-u btn-u-blue ls-s1" href="#" style="durationin: 6500; durationout: 3500; font-size: 25px; left: 40px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 340px;">
            查看更多特性
        </a>
        @*<img src="/images/Magicodes.WeiChat/1.png" alt="Slider Image" class="ls-s-1" style="durationin: 1500; durationout: 1500; height: 641px; left: 650px; slidedirection: right; slideoutdirection: bottom; top: 30px; width: 355px;">*@
    </div>
    <!--Third Slide-->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92, 93, 105;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.Shop.jpg" class="ls-bg" alt="Slide background">
        @*<span class="ls-s-1" style="color: #777; durationin: 1000; durationout: 1000; font-size: 35px; font-weight: 200; left: 50px; line-height: 45px; slidedirection: top; slideoutdirection: bottom; top: 100px;">
                Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
            </span>*@
        <a class="btn-u btn-u-green ls-s-1" href="#" style="durationin: 2000; durationout: 2000; font-size: 25px; left: 850px; padding: 9px 20px; slidedirection: bottom; slideoutdirection: bottom; top: 220px;">
            Magicodes.Shop
        </a>
        @*<img src="@ContentRootUrl/unify/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style="durationin: 3000; durationout: 3000; left: 670px; slidedirection: right; slideoutdirection: bottom; top: 30px;">*@
    </div>
    <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
        <img src="@ContentRootUrl/unify/img/xinlai/Magicodes.WeiChat.jpg" class="ls-bg" alt="Magicodes.WeiChat" />
    </div>
    <!--End Third Slide-->
</div><!--/layer_slider-->
<!--=== End Slider ===-->
<div class="gallery">
    <div class="container">
        <h2 class="heading text-center">客户案例</h2>
        <div style="margin-top:100px;">
               <h2>百清果</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="产品首页"><img class="example-image" src="@ContentRootUrl/images/百清果/产品首页.png" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="产品详情页"><img class="example-image" src="@ContentRootUrl/images/百清果/产品详情页.png" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="个人中心"><img class="example-image" src="@ContentRootUrl/images/百清果/个人中心.png" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="排行榜"><img class="example-image" src="@ContentRootUrl/images/百清果/排行榜.png" alt="" /></a>
            </div>

        </div>
        </div>
    </div>
<div class="gallery">
    <div class="container">
        <div >
            <h2 >共青公安</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="办证服务"><img class="example-image" src="@ContentRootUrl/images/共青公安/办证服务.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="官方新闻"><img class="example-image" src="@ContentRootUrl/images/共青公安/官方新闻.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="警方提示"><img class="example-image" src="@ContentRootUrl/images/共青公安/警方提示.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="新闻详情"><img class="example-image" src="@ContentRootUrl/images/共青公安/新闻详情.jpg" alt="" /></a>
            </div>

        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div>
            <h2>轮胎服务平台</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="轮胎商城"><img class="example-image" src="@ContentRootUrl/images/轮胎服务平台/轮胎商城.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="轮胎—分类"><img class="example-image" src="@ContentRootUrl/images/轮胎服务平台/轮胎—分类.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="轮胎—个人中心"><img class="example-image" src="@ContentRootUrl/images/轮胎服务平台/轮胎—个人中心.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="轮胎—资讯"><img class="example-image" src="@ContentRootUrl/images/轮胎服务平台/轮胎—资讯.jpg" alt="" /></a>
            </div>

        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div>
            <h2>囡宝家</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="囡宝家—商城首页"><img class="example-image" src="@ContentRootUrl/images/囡宝家/囡宝家—商城首页.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="囡宝家—服务列表"><img class="example-image" src="@ContentRootUrl/images/囡宝家/囡宝家—服务列表.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="囡宝家—个人中心"><img class="example-image" src="@ContentRootUrl/images/囡宝家/囡宝家—个人中心.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="囡宝家—服务站"><img class="example-image" src="@ContentRootUrl/images/囡宝家/囡宝家—服务站.jpg" alt="" /></a>
            </div>

        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div>
            <h2>乡谣乳业</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="乡谣—公众号首页"><img class="example-image" src="@ContentRootUrl/images/乡谣乳业/乡谣乳业—我的钱包.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="乡谣—乳此精彩"><img class="example-image" src="@ContentRootUrl/images/乡谣乳业/乡谣—乳此精彩.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="乡谣—产品介绍"><img class="example-image" src="@ContentRootUrl/images/乡谣乳业/乡谣—产品介绍.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="乡谣—奶牛频道"><img class="example-image" src="@ContentRootUrl/images/乡谣乳业/乡谣—奶牛频道.jpg" alt="" /></a>
            </div>

        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div>
            <h2>云南信托</h2>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="云南信托—登录界面"><img class="example-image" src="@ContentRootUrl/images/云南信托/登录界面.png" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="云南信托—个人中心"><img class="example-image" src="@ContentRootUrl/images/云南信托/个人中心.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="云南信托—风险测评"><img class="example-image" src="@ContentRootUrl/images/云南信托/风险测评.png" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" title="云南信托—互联网金融动态"><img class="example-image" src="@ContentRootUrl/images/云南信托/云南信托—互联网金融动态.jpg" alt="" /></a>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $('ul.nav>li:eq(4)').addClass('active');
        });
    </script>
}