@{
    ViewData["Title"] = "转运123-美国到中国转运业务以及中国到美国集运业务";
    Layout = "_IndexLayout";
}


<div class="ed_slider_form_section">
    <!--Slider start-->
    <section class="ed_mainslider">
        <article class="content">
            <div class="rev_slider_wrapper">
                <div id="rev_slider_1061_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="creative-freedom"
                     data-source="gallery" style="background-color:#1f1d24;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
                    <div id="rev_slider_1061_1" class="rev_slider fullscreenbanner" style="display:none;"
                         data-version="5.3.0.2">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-2978" data-transition="fadethroughdark" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="2000" data-thumb="http://placehold.it/1920X1080"
                                data-rotate="0" data-saveperformance="off" data-title="包裹转运" data-param1="01"
                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="http://placehold.it/1920X1080" alt="" data-bgposition="center center"
                                     data-bgfit="cover" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2978-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-fontweight="['100','100','400','400']" data-width="full" data-height="full"
                                     data-whitespace="nowrap" data-type="shape" data-basealign="slide"
                                     data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 5;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 6;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2978-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                     data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']"
                                     data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                     data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap;text-transform:left;  font-family: 'Trirong', serif;">我们一直在用心为你服务</div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2978-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                     data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                                     data-width="['none','none','none','320']" data-height="none"
                                     data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap;text-transform:left; font-family: 'Trirong', serif;">美国到中国的包裹转运服务<br />中国到美国的包裹集运服务</div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 9;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2978-layer-6"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                     data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                                     data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(252, 169, 1);bc:rgb(252, 169, 1);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]"
                                     data-paddingright="[50,50,50,50]" data-paddingbottom="[15,15,15,15]"
                                     data-paddingleft="[50,50,50,50]" style="z-index: 10; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: 'Trirong', serif;">
                                    立即下单
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-2979" data-transition="fadethroughdark" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="2000" data-thumb="http://placehold.it/1920X1080"
                                data-rotate="0" data-saveperformance="off" data-title="包裹跟踪" data-param1="02"
                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="http://placehold.it/1920X1080" alt="" data-bgposition="center center"
                                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                     data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2979-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                     data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 11;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 12;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2979-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                     data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']"
                                     data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                     data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 13; white-space: nowrap;text-transform:left; font-family: 'Trirong', serif;">我们一直在用心为你服务</div>
                                <!-- LAYER NR. 10 -->
                                <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2979-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                     data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                                     data-width="['none','none','none','320']" data-height="none"
                                     data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap;text-transform:left; font-family: 'Trirong', serif;">透明可追溯<br />包裹轨迹</div>
                                <!-- LAYER NR. 11 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 15;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 12 -->
                                <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2979-layer-6"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                     data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                                     data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(252, 169, 1);bc:rgb(252, 169, 1);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]"
                                     data-paddingright="[50,50,50,50]" data-paddingbottom="[15,15,15,15]"
                                     data-paddingleft="[50,50,50,50]" style="z-index: 16; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: 'Trirong', serif;">包裹跟踪</div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-2980" data-transition="fadethroughdark" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="2000" data-thumb="http://placehold.it/1920X1080"
                                data-rotate="0" data-saveperformance="off" data-title="海外仓储" data-param1="03"
                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                户服务
                                <!-- MAIN IMAGE -->
                                <img src="http://placehold.it/1920X1080" alt="" data-bgposition="center center"
                                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                     data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 13 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2980-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                     data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 17;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 14 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2980-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 18;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 15 -->
                                <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2980-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                     data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']"
                                     data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                     data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 19; white-space: nowrap;text-transform:left; font-family: 'Trirong', serif;">我们一直都在用心操作你的包裹</div>
                                <!-- LAYER NR. 16 -->
                                <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2980-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                     data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                                     data-width="['none','none','none','320']" data-height="none"
                                     data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 20; white-space: nowrap;text-transform:left; font-family: 'Trirong', serif;">安全的<br />仓储管理</div>
                                <!-- LAYER NR. 17 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2980-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                     data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape"
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]" style="z-index: 21;text-transform:left;background-color:rgb(252, 169, 1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 18 -->
                                <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2980-layer-6"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                     data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                                     data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(252, 169, 1);bc:rgb(252, 169, 1);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]"
                                     data-paddingright="[50,50,50,50]" data-paddingbottom="[15,15,15,15]"
                                     data-paddingleft="[50,50,50,50]" style="z-index: 22; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: 'Trirong', serif;">
                                    查看详情
                                </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div><!-- END REVOLUTION SLIDER WRAPPER -->
        </article>
    </section>
    <!--Slider end-->
    <!--Slider form start-->
    <div class="ed_form_box ed_toppadder90 ed_bottompadder60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ed_heading_top ed_bottompadder50">
                        <h3>包裹轨迹查询</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ed_search_form">
                        <form class="form-inline">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>跟踪你的包裹的最新状态.</p>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="输入你的手机号码或者公司单号" class="form-control" id="course">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <button type="button" class="btn ed_btn pull-right ed_orange">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ed_search_image">
                        <img src="images/content/track.png" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Slider form end-->
</div>
<!--chart section start -->
<div class="ed_transprentbg ed_toppadder100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_counter_wrapper">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-bus" aria-hidden="true"></i>
                            <h4>海淘转运</h4>
                            <p>我们提供美国免费州仓储以及加州的仓储，你在海外网站购物，填写我们仓库地址，我们收到包裹，通过一系列操作指令，最终把你的包裹安全送达到你手中</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h4>中国集运</h4>
                            <p>我们提供中国的仓库地址，为身在海外的你在中国各大电商网站购物，填写我们仓库地址，我们收到包裹，通过一系列操作指令，最终把你的包裹安全送达到你手中</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-ship" aria-hidden="true"></i>
                            <h4>仓储服务</h4>
                            <p>我们可以给美国到中国的电商做海外仓储服务，包括一件代发，商品存储，以及中国在美国亚马逊开店商家提供海外仓储以及一件代发服务.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- chart Section end -->
<!-- Services start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>我们提供的增值服务</h3>
                </div>
            </div>
            <div class="ed_mostrecomeded_course_slider">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <a href="file:///D|/系统开发/主题森林/themeforest-19743497-transport-logistics-html-template/Main Files/HTML/index.html"></a><img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">包裹合箱</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">包裹分箱</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">包裹加固</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">内件清点</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">包裹拍照</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="http://placehold.it/360X360" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">移除杂物</a></h4>
                            <p>
                                We service all industries including but not limited to the residential and
                                commercial building industry, mining, oil, gas, engineering and construction
                                and civil infrastructure projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ed_toppadder30">
                    <a href="services.html" class="btn ed_btn ed_orange">查看更多</a>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!-- Services end -->
<!--Timer Section three start -->
<div class="ed_timer_section ed_toppadder90 ed_bottompadder60">
    <div class="ed_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>为什么选择我们</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_counter_wrapper">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="3" data-speed="5000"></h2>
                            <h4>仓库数量</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="40000" data-speed="5000"></h2>
                            <h4>服务的人数</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="100" data-speed="5000"></h2>
                            <h4>出口覆盖国家</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="7" data-speed="5000"></h2>
                            <h4>行业经验</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Timer Section three end -->
<!--Our expertise section one start -->
<div class="ed_transprentbg ed_toppadder90 ed_bottompadder90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ed_video_section_discription">
                    <h4>关于 转运123</h4>
                    <p>
                        坐落于美国洛杉矶,在美国建立专业的海外仓库，是一家服务于个人海外网购、代购、电商平台等企业货运，仓储，包装，清关，配送一条龙全套服务的便捷高效物流海淘转运公司.
                        转运123有多年国际物流管理经验，不断完善物流服务体系，通过转运渠道、收费标准、运输类型、增值服务等一系列专业转运服务，灵活满足海淘用户多样化及个性化的需求。
                    </p>
                    <span><a href="about.html" class="btn ed_btn ed_orange">了解更多</a></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ed_video_section">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="ed_video">
                            <img src="http://placehold.it/555X313" style="cursor:pointer" alt="1" />
                            <div class="ed_img_overlay">
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <iframe id="pro_video" class="embed-responsive-item" src="https://www.youtube.com/embed/LVyIqEuQWRY"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!--Our expertise section one end -->
<!--skill section start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>我们的服务承诺</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>阳光化清关</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>咨询服务响应快读</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-users" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>完善的售后服务</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-gift" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>满意的价格</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-money" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>有好的用户体验</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-child" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="skill_section">
                    <h4>稳定的清关速度</h4>
                    <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condime.</p>
                    <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--skill section end -->
<!-- pricing table section start -->
<div class="ed_pricing_section ed_toppadder90 ed_bottompadder60">
    <div class="ed_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>我们的价格</h3>
                </div>
            </div>
            <div class="ed_pricing_table_wrapper">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_pricing_table">
                        <div class="ed_pricing_heading">
                            <h2>注册会员</h2>
                            <div class="ed_table_price">
                                <p><sup>$ </sup>0<sub> /月</sub></p>
                            </div>
                        </div>
                        <ul>
                            <li>首重$8/磅，续重$4/磅</li>
                            <li>无年终返利</li>
                            <li>增值服务无折扣</li>
                            <li>自带600人民币一个包裹保险</li>
                            <li>免仓租1一个月</li>
                        </ul>
                        <div class="ed_pricing_tabel_footer">
                            <a href="#" class="btn ed_btn ed_green">立即加入</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_pricing_table">
                        <div class="ed_pricing_heading">
                            <h2>贵宾会员</h2>
                            <div class="ed_table_price">
                                <p class="ed_price_dollar"><sup>$ </sup>19<sub> /月</sub></p>
                            </div>
                        </div>
                        <ul>
                            <li>首重$8/磅，续重$4/磅</li>
                            <li>年购买金额百分之一返利</li>
                            <li>增值服务全部免费</li>
                            <li>自带2000人民币货物保险</li>
                            <li>免仓租半年</li>
                        </ul>
                        <div class="ed_pricing_tabel_footer">
                            <a href="#" class="btn ed_btn ed_green">立即加入</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ed_pricing_table">
                        <div class="ed_pricing_heading">
                            <h2>代购电商</h2>
                            <div class="ed_table_price">
                                <p class="ed_price_dollar"><sup>$ </sup>199<sub> /月</sub></p>
                            </div>
                        </div>
                        <ul>
                            <li>美国到中国$4.5/磅，无首重</li>
                            <li>年终返利百分之二</li>
                            <li>增值服务无折扣</li>
                            <li>自带2000的包裹保险</li>
                            <li>免仓租半年</li>
                        </ul>
                        <div class="ed_pricing_tabel_footer">
                            <a href="#" class="btn ed_btn ed_green">立即加入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing table section start -->
<!-- Testimonial start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ed_bottompadder80">
                <div class="ed_heading_top">
                    <h3>我们会员的评价</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_latest_news_slider">
                    <div id="owl-demo2" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="http://placehold.it/100X100" alt="1" title="1" />
                                <h4>Carolyn Ayala</h4>
                                <span>CEO</span>
                                <p>我们可以给美国到中国的电商做海外仓储服务，包括一件代发，商品存储，以及中国在美国亚马逊开店商家提供海外仓储以及一件代发服务</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="http://placehold.it/100X100" alt="1" title="1" />
                                <h4>Ronnie Parker</h4>
                                <span>manager</span>
                                <p>我们可以给美国到中国的电商做海外仓储服务，包括一件代发，商品存储，以及中国在美国亚马逊开店商家提供海外仓储以及一件代发服务</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="http://placehold.it/100X100" alt="1" title="1" />
                                <h4>Kim Hiatt</h4>
                                <span>director</span>
                                <p>
                                    Just in case there is anyone looking for it, new expertise to our knowledge
                                    base to make you happy as well.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="http://placehold.it/100X100" alt="1" title="1" />
                                <h4>Michael Garza</h4>
                                <span>Employee</span>
                                <p>
                                    Just in case there is anyone looking for it, new expertise to our knowledge
                                    base to make you happy as well.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="http://placehold.it/100X100" alt="1" title="1" />
                                <h4>Mary J. Cole</h4>
                                <span>receptionist</span>
                                <p>我们可以给美国到中国的电商做海外仓储服务，包括一件代发，商品存储，以及中国在美国亚马逊开店商家提供海外仓储以及一件代发服务</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!--Testimonial end -->
<!--client section start -->
<div class="ed_transprentbg ed_toppadder90 ed_bottompadder90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>我们的合作伙伴</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_clientslider">
                    <div id="owl-demo5" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="http://placehold.it/180X80" alt="Partner Img" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!--client section end -->
