@model Abp.Application.Services.Dto.PagedResultDto<Magicodes.Admin.Contents.Dto.ColumnInfoListDto>

@{
    ViewData["Title"] = "栏目";
}

<div class="text-center">
    <h1 class="display-4">栏目</h1>
</div>
