@model List<Cms.Host.Controllers.CmsInfoDto>

@{
    ViewData["Title"] = "栏目";
}

<div class="text-center">
    <h1 class="display-4">栏目</h1>
    @foreach (var item in Model)
    {
        <a href="/Home/Detail?url=@item.Url">@item.Title</a>

    }
</div>
