<div class="ed_header_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pro_call">
                    <p>
                        中国上班时间 <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        09:00-18:00（周一到周五）
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="more-language ml5  pull-right dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">English<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="">中文</a></li>
                        <li><a href="">日语</a></li>
                    </ul>
                </span>
                <div class="ed_info_wrapper">
                    <ul>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Whatsapp">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="social-share pull-right cd-log_reg">
                    <li><a class="cd-signin" href="javascript:void(0);"><i class="fa fa-user mr5"></i>登陆</a></li>
                    <li><a class="cd-signup" href="javascript:void(0);"><i class="fa fa-user-plus mr5"></i>注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--登录注册-->
<section id="contact" class="contacts-section">
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="javascript:void(0);" class="selected">登陆</a></li>
                <li><a href="javascript:void(0);" class="">注册</a></li>
            </ul>
            <div class="log_bd module-static">
                <div class="login-switch">
                    <i class="icon iconfont icon-erweima quick" id="J_Static2Quick" title="扫码登录更安全"></i>
                    <i class="icon iconfont icon-diannao static" id="J_Quick2Static"></i>
                </div>
                <div class="zhanghao-log">
                    <div id="cd-login" class="is-selected">
                        <!-- log in form -->
                        <form class="cd-form">
                            <!-- 英文状态 -->
                            <!--  <p class="social-login eng">
                                                            <span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
                                                            <span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
                                                            <span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
                                                        </p> -->

                            <p class="social-login chi">
                                <span class="social-login-qq"><a href="#"><i class="fa fa-qq"></i> QQ登录</a></span>
                                <span class="social-login-weixin"><a href="#"><i class="fa fa-weixin"></i> 微信登录</a></span>
                                <span class="social-login-zhifubao">
                                    <a href="#">
                                        <i class="icon iconfont icon-qianbaopengyou"></i>
                                        支付宝登录
                                    </a>
                                </span>
                                <span class="social-login-weibo"><a href="#"><i class="fa fa-weibo"></i> 微博登录</a></span>
                            </p>
                            <div class="lined-text">
                                <span>账号密码登录</span>
                                <hr>
                            </div>
                            <p class="fieldset">
                                <label class="image-replace cd-email" for="signin-email">E-mail</label>
                                <input class="full-width has-padding has-border" id="signin-email" type="email"
                                       placeholder="请输入手机号或邮箱">
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signin-password">Password</label>
                                <input class="full-width has-padding has-border" id="signin-password" type="text"
                                       placeholder="请输入密码">
                                <a href="javascript:void(0);" class="hide-password">Hide</a>
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <input type="checkbox" id="remember-me" checked="">
                                <label for="remember-me">Remember me</label>
                            </p>
                            <p class="fieldset">
                                <input class="full-width" type="submit" value="登录">
                            </p>
                        </form>
                        <p class="cd-form-bottom-message"><a href="javascript:void(0);">忘记密码?</a></p>
                        <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
                    </div> <!-- cd-login -->
                    <div id="cd-signup" class="">
                        <!-- sign up form -->
                        <form class="cd-form">
                            <!-- 英文状态 -->
                            <!--  <p class="social-login eng">
                                                            <span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
                                                            <span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
                                                            <span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
                                                        </p> -->

                            <p class="social-login chi">
                                <span class="social-login-qq"><a href="#"><i class="fa fa-qq"></i> QQ登录</a></span>
                                <span class="social-login-weixin"><a href="#"><i class="fa fa-weixin"></i> 微信登录</a></span>
                                <span class="social-login-zhifubao">
                                    <a href="#">
                                        <i class="icon iconfont icon-qianbaopengyou"></i>
                                        支付宝登录
                                    </a>
                                </span>
                                <span class="social-login-weibo"><a href="#"><i class="fa fa-weibo"></i> 微博登录</a></span>
                            </p>

                            <p class="fieldset">
                                <label class="image-replace cd-username" for="signup-username">Username</label>
                                <input class="full-width has-padding has-border" id="signup-username" type="text"
                                       placeholder="请输入用户名">
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-email" for="signup-email">E-mail</label>
                                <input class="full-width has-padding has-border" id="signup-email" type="email"
                                       placeholder="请输入邮箱">
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signup-password">Password</label>
                                <input class="full-width has-padding has-border" id="signup-password" type="text"
                                       placeholder="请输入密码">
                                <a href="javascript:void(0);" class="hide-password">Hide</a>
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <input type="checkbox" id="accept-terms">
                                <label for="accept-terms">I agree to the <a href="javascript:void(0);">Terms</a></label>
                            </p>
                            <p class="fieldset">
                                <input class="full-width has-padding" type="submit" value="提交">
                            </p>
                        </form>
                        <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
                    </div> <!-- cd-signup -->
                    <div id="cd-reset-password">
                        <!-- reset password form -->
                        <p class="cd-form-message">
                            Lost your password? Please enter your email address. You will
                            receive a link to create a new password.
                        </p>
                        <form class="cd-form">
                            <p class="fieldset">
                                <label class="image-replace cd-email" for="reset-email">E-mail</label>
                                <input class="full-width has-padding has-border" id="reset-email" type="email"
                                       placeholder="E-mail">
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signup-password">Password</label>
                                <input class="full-width has-padding has-border" id="signup-jiaoyanma" type="text"
                                       placeholder="请输入校验码">
                                <a href="javascript:void(0);" class="jiaoyanma-hq">获取校验码</a>
                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <input class="full-width has-padding" type="submit" id="reset-next" value="下一步">
                            </p>
                        </form>
                        <p class="cd-form-bottom-message"><a href="javascript:void(0);">返回登录</a></p>
                    </div> <!-- cd-reset-password -->

                    <div id="cd-reset-password-two">
                        <!-- reset password form -->
                        <p class="cd-form-message">
                            Lost your password? Please enter your email address. You will
                            receive a link to create a new password.
                        </p>
                        <form class="cd-form">
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signup-password">Password</label>
                                <input class="full-width has-padding has-border" id="reset-password-two-mima" type="text"
                                       placeholder="请输入密码">

                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signup-password">Password</label>
                                <input class="full-width has-padding has-border" id="reset-password-two-qrmima"
                                       type="text" placeholder="请确认密码">

                                <span class="cd-error-message">Error message here!</span>
                            </p>
                            <p class="fieldset">
                                <input class="full-width has-padding" type="submit" id="reset-submit" value="提交">
                            </p>
                        </form>
                        <p class="cd-form-bottom-message"><a href="javascript:void(0);">返回登录</a></p>
                    </div> <!-- cd-reset-password-two -->

                    <div id="cd-reset-password-three">

                        <div class="sub-ok">
                            <p class="fa fa-check"></p>
                            <p class="txt">密码重置成功</p>

                        </div>

                        <p class="cd-form-bottom-message"><a href="#">返回首页</a></p>
                    </div> <!-- cd-reset-password-three -->
                </div>
                <div class="saoma-log">
                    <div class="lined-text">
                        <span>手机扫码，安全登录</span>
                        <hr>
                    </div>
                    <div class="qrcode-mod">
                        <div class="qrcode-main">
                            <div class="qrcode-img" id="J_QRCodeImg" style="opacity: 1;"><img src="https://img.alicdn.com/tfscom/TB1vtF4n4TpK1RjSZFMwu2G_VXa.png"></div>
                            <div class="qrcode-help"></div>

                        </div>
                        <div class="qrcode-desc">
                            <i class="iconfont">&#xe617;</i>

                            <p>
                                <font class="ft-gray">打开 </font><a href="" target="_blank" class="light-link">手机微信</a>
                                | <a href="" target="_blank" class="light-link">手机淘宝</a>
                                <span class="ft-gray">扫一扫登录</span>
                            </p>

                        </div>

                    </div>

                </div>
            </div>
            <a href="javascript:void(0);" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
</section>