<!-- <ul>
    <li *ngFor="let img of images">
        <img [src]="img.thumbnail" class="img-circle">
    </li>
</ul> -->
<!-- <div class="row">
    <div class="col-sm-6 col-md-3" *ngFor="let img of images">
        
        <a href="javascript:;" class="thumbnail">
            <img [src]="img.thumbnail" [alt]="img.title" style="height: 90px; width: 100%; display: block;" data-src="{{img.source}}"> </a>
    </div>
</div> -->
<p-lightbox [images]="images" easing="ease-in" effectDuration="1500ms" styleClass="image-list"></p-lightbox>