<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html">
                        <img id="logo-footer" class="footer-logo" src="@ContentRootUrl/unify/img/logo_1.png" alt="">
                    </a>
                    <p>湖南心莱信息科技有限公司是由一群从北上广回归的精英携手创建的一家专注软件开发的公司，公司成员基本上都有从事软件开发5年以上的工作经验，并且均领导实施过中大型软件项目。公司以“踏实，直率相处，乐于助人；对技术满怀热情；致力于帮助客户带来价值”为核心价值，希望通过专业水平和不懈努力，为中小企业提供优质的软件服务，为中小软件公司提供优质的软件技术服务。</p>
                </div><!--/col-md-3-->
                <!-- End About -->
                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline">
                            <h2>Latest Posts</h2>
                        </div>
                        <ul class="list-unstyled latest-list">
                            <li>
                                <a href="http://www.cnblogs.com/codelove/p/5944141.html" target="_blank">公众号消息会话开发</a>
                                <small>2016.10.09</small>
                            </li>
                            <li>
                                <a href="http://www.cnblogs.com/codelove/p/5940447.html" target="_blank">认识微信公众号</a>
                                <small>2016.10.08</small>
                            </li>
                            <li>
                                <a href="http://www.cnblogs.com/codelove/p/5306395.html" target="_blank">Magicodes.WeiChat版本历史</a>
                                <small>2016.10.06</small>
                            </li>
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->
                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline">
                        <h2>友情链接</h2>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a href="/Home/AboutUs">关于我们</a><i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">联系我们</a><i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">加入我们</a><i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">商务合作</a><i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="http://www.cnblogs.com/codelove/" target="_blank">官方博客</a><i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->
                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline">
                        <h2>联系我们</h2>
                    </div>
                    <address class="md-margin-bottom-40">
                        湖南长沙市高新开发区尖山路39号 <br/>
                        长沙中电软件园10号楼 <br/>
                        微信: 心莱科技 （搜索关注） <br/>
                        Email: <a href="mailto:xinlai@xin-lai.com" class="">xinlai@xin-lai.com</a> <br/>
                        座机：0731-8957 8830 <br />
                        扫一扫关注我们：<img src="@ContentRootUrl/images/Magicodes.WeiChat/二维码.jpg" alt="扫一扫，关注我们" height="80" width="80" />
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        @DateTime.Now.Year &copy; All Rights Reserved.
                        <a href="#">湖南心莱信息科技有限公司</a>
                        
                    </p>
                </div>
                <!-- Social Links -->
                <div class="col-md-6">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;友情赞助：<a href="http://www.shhwec.com/" target="_blank">海湾电子商务总部产业园</a>
                    </p>
                    
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->