@model Abp.Application.Services.Dto.PagedResultDto<Magicodes.Admin.Contents.Dto.ArticleInfoListDto>

@{
    ViewData["Title"] = "文章列表";
}
<div>
    <ul class="list-group">
        @foreach (var item in Model.Items)
        {
            <li class="list-group-item">
                <a href="/Article/@item.StaticPageUrl">@item.Title</a>
            </li>
        }
    </ul>
</div>

